@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* ----------------- Variables ----------- */
:root{
    --main-accent-color: #01081b;
    --main-gray: #2f3542;
    --light-accent-color: #0be19b;
    --main-white: #ffffff;
    --main-black: #000;
    --other-gray: rgb(187, 179, 179);
}

html{
    scroll-behavior: smooth!important;
}
/* ----------------- Resets ----------------- */
*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* ------------------------- Globals ------------------ */
body{
    background-color: var(--main-white);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-accent-color); 
    color: var(--main-white);
    font-size: 1.1rem;
}

h1{
    font-family: "Noto Sans", Helvetica;
}

.major-header{
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

h2, h3, h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: var(--main-white);
}

.headliner{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--other-gray);
    margin: 3rem 0 6rem 0;
}

a:hover{
    cursor: pointer;
    color: var(--light-accent-color);
}

ul{
    list-style: none;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.section{
    padding: 3rem 0;
}
#bodySection .major-header{
    border-left: .3rem solid #ff7f50;
    padding-left: 2.5rem;
}
/* ------------------------------------------------ */
/*                  Navigation                      */
/* ------------------------------------------------ */
#nav-bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem 0;
    background-color: var(--main-accent-color);
    box-shadow:  0 0 .3rem var(--main-gray);
    z-index: 1000; 
}

#navContainer{
    height: 100%;
}

.nav{
    height: 3rem;    
}

nav:after{
    content: '';
    clear: both;
    display: table;
  }

.nav-links{
    float: right;
    font-weight: 400;
    font-size: 1.2rem;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav ul{
    position: relative; 
}
nav ul li{
    float: left;
    position: relative;
}
nav ul li a{ 
    line-height: 4.4rem;
    padding: 1rem;   
}  

nav ul li a:hover{
    border-radius: .3rem;
    box-shadow:  0 0 .3rem var(--main-gray);               
}

nav ul ul li{
    background-color: var(--main-accent-color);
    box-shadow:  0 0 .3rem var(--main-gray);
}

nav ul ul li a:hover{
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 5.6rem;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    padding-top: 1.52rem;
}

nav ul ul ul{
    border-top: none;
    padding-top: 0;
}

nav ul li:hover > ul{
    top: 4.38rem;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0;
    /* text-align: center; */
    width: 15rem;
    float: none;
    display: list-item;
    border-bottom: .1rem solid var(--main-gray);
}

nav ul ul li a{
    line-height: 3rem;
}

nav ul ul ul li{
    position: relative;
    top: -1.2rem;
    left: 12rem;
}

.show,
.icon,
input{
    display: none; 
}

.dropdown_arrow, .dropdown_arrow2{
    transition: transform .5s;
}

.dropdown_item:hover .dropdown_arrow, .dropdown_item2:hover .dropdown_arrow2{
    transform: rotate(180deg);
}

.fa-angle-down{
    font-size: 1.4rem;
    margin-left: 2.2rem;
}
  
nav .logo{
    float: left;
    width: 15rem;
    /* margin-top: .5rem; */
}

/* ------------------------------------------------ */
/*                  Hero Section                    */
/* ------------------------------------------------ */
#heroSection{
    margin-top: 11rem;
    display: flex;
}

.hero-image img{
    width: 30rem;
}

input[type='submit'], button{
    padding:  .8rem 1.4rem;
    border-radius: .3rem;
    border: 1px solid var(--main-black);
    background-color: var(--light-accent-color);
    color: var(--main-white);
    font-size: 1rem;
    width: 9rem;
    display: initial;
}

input[type='submit']:hover, button:hover{
    cursor: pointer;
    color: var(--light-accent-color);
    background-color: var(--main-gray);
}

.animated-text{
    font-size: 2.1rem;
    font-weight: 600;
    min-width: 17.5rem;
    margin-bottom: 4rem;
}
/* --------------------------- Hero Text Animation ------------------- */
.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Web development";
    color: #ff7f50;
    animation: words 12s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: var(--main-accent-color);
    border-left: 2px solid #ff7f50;
    right: -8px;
    animation: cursor 8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,33.3%{
        content: "Web Development";
    }
    
    34%,66.6%{
        content: "Digital Marketing";
    }
    67%,100%{
        content: "Graphic Designing";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

/* ------------------------------------------------ */
/*                  Service Section                 */
/* ------------------------------------------------ */
.service-section .btn{
    text-align: center;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 2.5rem;
    margin: 3.1rem 0;
}

.services-list div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    background: var(--main-gray);
    padding: 2.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 10px;
    box-shadow: -.3rem .3rem var(--other-gray);
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    color: var(--other-gray);
    font-size: 3.1rem;
    margin-bottom: 1.9rem;
}
.services-list ul{
    list-style:disc;
}
.services-list div h2{
    font-size: 1.9rem;
    font-weight: 500;
    margin-bottom: .9rem;
}
.services-list div a{
    text-decoration: none;
    color: #ff7f50;
    font-size: 1rem;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #00072D;
    transform: translateY(-10px)
}
/* ------------------------------------------------ */
/*                 Why Us Section                   */
/* ------------------------------------------------ */
.why-us-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3rem;
}

.why{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 46%;
}

.why div{
    width: 80%;
}

.why i{
    font-size: 3.5rem;
}

.why h4{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.why p{
    font-size: 1.1rem;
    font-weight: 100;
}

/* ------------------------------------------------ */
/*                  Counter-Up                      */
/* ------------------------------------------------ */
.counter-up{
    min-height: 15rem;
    display: flex;
    align-items: center;
}

.counter-up .counter-content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.counter-up .counter-content .box{
    border: 1px solid #ff7f50;
    width: calc(25% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
}
  
.counter-up .counter-content .box .icon{
    font-size: 3rem;
    color: var(--other-gray);
    display: initial;
    margin-bottom: .5rem;
}
  
.counter-content .box .counter{
    font-size: 3rem;
    font-weight: 500;
    color: var(--main-white);
    margin-right: 1rem;
}

.counter-content p{
    font-size: 3rem;
}

.counter-content .box .text{
    font-weight: 400;
    color: var(--other-gray);
}

#counter .headliner p{
    margin-bottom: 3rem;
}

@media screen and (max-width: 1036px) {
    .counter-up{
      padding: 50px 50px 0 50px;
    }
    
    .counter-up .counter-content .box{
      width: calc(50% - 30px);
      margin-bottom: 50px;
    }
    
}

@media screen and (max-width: 580px) {
    .counter-up .counter-content .box{
      width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .counter-up{
      padding: 30px 20px 0 20px;
    }
}
  
/* ------------------------------------------------ */
/*                  Footer Section                  */
/* ------------------------------------------------ */
#footerSection{
    border-top: .01rem solid var(--main-gray);
}

.footer-content{
    padding: 2rem 0;
}

.footer-content p{
    border-top: .02rem solid var(--main-white);
    border-bottom: .02rem solid var(--main-white);
    padding: 1rem 0;
    width: 12rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.footer-content ul li{
    line-height: 1.7rem;
}

.footer-content .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-content .container div{
    margin: auto;
}

.footer-copyright{
    padding: 1rem;
    text-align: center;
    background-color: var(--main-black);
}
/* ----------------------- Media Queries ------------------------ */

@media screen and (max-width: 990px) { 
    #navContainer .nav-links{
        position: relative;
        margin-right: 0;
        margin-top: 2.5rem;
        font-size: .9rem;
        float: left;
    }
    
    .fa-bars{
        font-size: 2.1rem;
        padding: 2rem 0;
    }

    nav .logo{
      width: 11rem;
    }

    .show + a, ul{
      display: none;
    }

    nav ul li,nav ul ul li{
      display: block;
      box-shadow: none;
      padding-left: 0;
      width: 100%;
    }

    nav ul li a:hover{
      box-shadow: none;
    }

    .show{
      display: block;
      color: white;
      font-size: .9rem;
      padding: 0 12px;
      line-height: 70px;
      cursor: pointer;
    }

    .show:hover{
      color: var(--light-accent-color);
    }

    .icon{
      display: block;
      color: var(--main-white);
      position: absolute;
      top: 0;
      right: 40px;
      line-height: 70px;
      cursor: pointer;
      font-size: 25px;
    }

    nav ul ul{
      top: 70px;
      border: 0;
      float: none;
      position: static;
      display: none;
      opacity: 1;
      visibility: visible;
    }

    nav ul ul a{
        padding-left: 40px;
    }

    nav ul ul ul a{
      padding-left: 80px;
    }

    nav ul ul ul li{
      position: static;
    }

    [id^=btn]:checked + ul{
      display: block;
    }

    nav ul ul li{
      border-bottom: 0px;
    }

    span.cancel:before{
      content: '\f00d';
    }


    #heroSection{
        margin-top: 8rem;
    }
    
    .hero-text{
        flex-basis: 47%;
    }

    .animated-text{
        font-size: 1.6rem;
    }

    .hero-image img{
        flex-basis: 47%;
        width: 25rem;
    }

    .major-header{
        font-size: 2.2rem;
    }
    
    input[type='submit'], button{
        padding:  .8rem .8rem;
        font-size: .8rem;
        width: 8rem;
    }

    .services-list ul{
        display: initial;
    }

    .why-us-content{
        flex-direction: column;
    }

    .why{
        width: 100%;
    }

    .why div{
        margin-left: 3rem;
    }

    .why-us-content .top{
        margin-bottom: 3rem;
    }

    .footer-content ul {
        display: initial;
    }

    .footer-content .container div{
        margin-bottom: 2.5rem;
    }
}  

@media screen and (max-width: 790px){
    #heroSection{
        flex-wrap: wrap;
    }
    .hero-image img{
        flex-basis: 100%;
        width: 100%;
        margin-top: 3rem;
    }
    .hero-text{
        flex-basis: 100%;
    }


    .why .fa-user{
        font-size: 4.5rem;
    }
}












