html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/style.css" rel="stylesheet">

        <title></title>

        <body>
            <div style="background-color:#ffff00">
                <h1 style="text-align:center">E commerce store</h1>
            </div>
                {% block main %} {% endblock %}

            <h4 style="font-size; text-align:center"><template></template>.com</h4>
            <h5 style="font-size:small; text-align:center">welcome to homepage</h5>
            <h6 style='font-size:small; text-align:center'>copyrights &#169; netfuse

            </h6>
        </body>

    </html>