.text h4{
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
}

.text .btn{
    width: 100%;
    margin-top: 2rem;
}

.reverse{
    flex-direction: row-reverse;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.b-ground{
    background-color: #EBFADB;
    color: black;
}
main{
    background-color: #FFF9E3;
    color: black;
}